:root {
    background-color: #FDB927;
    --list-color: rgb(123, 69, 123);
    --largest-font: 50px;
    --larger-font: 40px;
    --large-font: 30px;
    --medium-font: 25px;
    --small-font: 20px;
    --centered: center;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

#timer {
    position: fixed;
    top: 0;
    right: 0;
    font-size: var(--large-font);
}

#viewScore {
    position: fixed;
    top: 0;
    left: 0;
    font-size: var(--large-font);
}

.h1El {
    font-size: var(--largest-font);
    text-align: var(--centered);
    font-weight: bolder;
    margin: 100px 100px 20px 100px;
}

.h2El {
    font-size: var(--larger-font);
    text-align: var(--centered);
    margin: 20px;
}

.message {
    margin: 20px;
    padding-top: 30px;
}

p {
    font-size: var(--larger-font);
    text-align: var(--centered);
}

.question {
    font-size: var(--largest-font);
    text-align: var(--centered);
    font-weight: bolder;
    margin: 100px 100px 20px 100px;
}

.btn-style {
    text-align: var(--centered);
    font-size: var(--large-font);
    margin: 20px;
    border-radius: 5px;
    display: block;
}

.answer-buttons {
    margin: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: var(--centered);
}

.btn {
    text-align: var(--centered);
    justify-content: center;
    flex-direction: column;
    background-color: black;
    padding: 20px;
    margin: 20px;

}

.btn:hover {
    background-color: #552583;
}

.clickContainer {
    display: flex;
    justify-content: center;
}

#initialsInput {
    text-align: var(--centered);
    text-transform: uppercase;
    margin: 20px;
    width: 25%;
    height: 2.60rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    border: 1px solid black;
    background-color: white;

}

.scoreBoard {
    display: flex;
    justify-content: center;
}

.scoreList {
    display: block;
    margin: 50px;
}