:root {
    background-color: pink;
    --list-color: rgb(123, 69, 123);
    --largest-font: 50px;
    --larger-font: 40px;
    --large-font: 30px;
    --centered: center;
}

#timer {
    position: fixed;
    top: 0;
    right: 0;
    font-size: var(--large-font);
}

#viewScore {
    position: fixed;
    top: 0;
    left: 0;
    font-size: var(--large-font);
}


.h1El {
    font-size: var(--largest-font);
    text-align: var(--centered);
    font-weight: bolder;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    margin: 100px 100px 20px 100px;
}

.h2El {
    font-size: var(--larger-font);
    text-align: var(--centered);
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    margin: 100px 100px 20px 100px;
}

.message {
    font-size: var(--larger-font);
    text-align: var(--centered);
    margin: 100px 100px 20px 100px;
} 

.buttonStyle {
text-align: var(--centered);
margin: 20px;
font-size: var(--large-font);
border-radius: 5px;
/* text-transform:uppercase; */
display: block;
} 


.answer-buttons {
    font-size: var(--larger-font);
    text-align: var(--centered);
    margin: 100px 100px 20px 100px;
}


.question {
    font-size: var(--largest-font);
    text-align: var(--centered);
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 100px 100px 20px 100px;
}

.clickContainer {
    display: flex;
    justify-content: center;
}

#initialsInput {
    font-size: var(--large-font);
    text-align: var(--centered);
    margin: 20px;
}


.scoreBoard {
display: flex;
justify-content: center;
}

.scoreList {
    display: block;
}


/* 




.btn:hover {
    border-color: purple;
}

#generateFinalScore {
text-align: var(--centered);
font-size: var(--large-font);
}

#insertInitialBox {
text-align: var(--centered);
font-size: var(--large-font);
}



/* .scoreBoard {
    display: flex;
}

.scoreList {
    display:block;
} */