:root {
background-color: pink;
--list-color: rgb(123, 69, 123);
--largest-font: 50px;
--larger-font: 40px;
--large-font: 30px;
--centered: center;
}


.question {
    font-size: var(--largest-font);
    text-align: var(--centered);
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 100px 100px 20px 100px;
}


.h1El {
font-size: var(--largest-font);
text-align: var(--centered);
font-weight: bolder;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 100px 100px 20px 100px;
}

.h2El {
    font-size: var(--larger-font);
    text-align: var(--centered);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 100px 100px 20px 100px;
    }

#pageSwitcher {
text-align: var(--centered);
margin: 100px 100px 100px 550px;
font-size: var(--larger-font);
text-transform:uppercase;
}

.btn {
margin: 100px;
font-size: var(--large-font);
text-align: var(--centered);
font-family:Verdana, Geneva, Tahoma, sans-serif;
border-radius: 5px;
}

.btn:hover {
    border-color: purple;
}

#generateFinalScore {
text-align: var(--centered);
font-size: var(--large-font);
}

#insertInitialBox {
text-align: var(--centered);
font-size: var(--large-font);
}

#submitBtn {
text-align: var(--centered);
margin: 100px 100px 100px 550px;
font-size: var(--larger-font);
}

#retakeQuizbtn {
font-size: var(--larger-font);
margin: 100px 100px 100px 200px;
}

#resetScoreBoardbtn {
font-size: var(--larger-font);
margin: 100px 100px 100px 200px;
}

#timer {
position: fixed;
top: 0;
right: 0;
font-size: var(--large-font);
}

#viewScore {
position: fixed;
top: 0;
left: 0;
font-size: var(--large-font);
}

/* .scoreBoard {
    display: flex;
}

.listEl {
    display:block;
} */